In [3]:
import pandas as pd

In [4]:
import os
md_df = pd.DataFrame()
md_dirs = ["./data/aledb/md/pub/",
]
for md_dir in md_dirs:
    for f in os.listdir(md_dir):
        md_df = pd.concat([
            md_df,
            pd.read_csv(md_dir+f)
        ])
md_df = md_df.fillna('')
display(len(md_df), md_df.head())

2003

,sample_name,clonal_or_population,tech_rep_description,media_description,carbon_source,nitrogen_source,phosphorous_source,sulfur_source,calcium_source,supplement,...,strain,strain_details,taxonomy_id,reseq_reference,breseq_version,reseq_date,experiment,project,person,doi
0,A1 F50 I1 R1,clonal,,M9,glucose(10),NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),hexamethylenediamine(),...,511145.0,BOP27,,NC_000913_3.gb,0.29.0,20:49:22 03 Jan 2017,TOL hexamethylenediamine,E. coli chemical tolerance,Markus Herrgard,10.1101/634105
1,A2 F50 I1 R1,clonal,,M9,glucose(10),NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),hexamethylenediamine(),...,511145.0,BOP27,,NC_000913_3.gb,0.29.0,22:24:11 03 Jan 2017,TOL hexamethylenediamine,E. coli chemical tolerance,Markus Herrgard,10.1101/634105
2,A2 F50 I2 R1,clonal,,M9,glucose(10),NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),hexamethylenediamine(),...,511145.0,BOP27,,NC_000913_3.gb,0.29.0,19:02:44 03 Jan 2017,TOL hexamethylenediamine,E. coli chemical tolerance,Markus Herrgard,10.1101/634105
3,A3 F50 I1 R1,clonal,,M9,glucose(10),NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),hexamethylenediamine(),...,511145.0,BOP27,,NC_000913_3.gb,0.29.0,19:40:26 03 Jan 2017,TOL hexamethylenediamine,E. coli chemical tolerance,Markus Herrgard,10.1101/634105
4,A3 F50 I2 R1,clonal,,M9,glucose(10),NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),hexamethylenediamine(),...,511145.0,BOP27,,NC_000913_3.gb,0.29.0,13:39:51 03 Jan 2017,TOL hexamethylenediamine,E. coli chemical tolerance,Markus Herrgard,10.1101/634105

In [7]:
all_muts_df = pd.read_pickle("./out_annot_gen_feats.pkl")
all_muts_df['afir'] = all_muts_df.apply(lambda r: 'A'+str(r.ale)+' F'+str(r.flask)+' I'+str(r.isolate)+' R'+str(r.tech_rep),axis=1)  # To match MD sample name
display(all_muts_df.shape, all_muts_df.head())

(7670, 20)

,exp,ale,flask,isolate,tech_rep,presence,Position,Mutation Type,Sequence Change,Details,mutation target annotation,Reference Seq,ALEdb source,sample,coding,exp ALE,range,gene RegulonDB ID,genetic features,afir
23836,42C,1,124,1,1,1.0,702352,DEL,Î”21 bp,coding (380â€‘400/1149 nt),nagA,NC_000913,public,1 124 1 1,True,42C 1,"(702352, 702372)",{ECK120000625},"[{'name': 'nagA', 'RegulonDB ID': 'ECK12000062...",A1 F124 I1 R1
183980,42C,1,124,1,1,1.0,702352,DEL,Î”21Â bp,codingÂ (380â€‘400/1149Â nt),nagA,NC_000913,public,1 124 1 1,True,42C 1,"(702352, 702372)",{ECK120000625},"[{'name': 'nagA', 'RegulonDB ID': 'ECK12000062...",A1 F124 I1 R1
23837,42C,1,124,1,1,1.0,1308318,SNP,Gâ†’C,R110G (CGTâ†’GGT),clsA,NC_000913,public,1 124 1 1,True,42C 1,"(1308318, 1308318)",{ECK120001556},"[{'name': 'clsA', 'RegulonDB ID': 'ECK12000155...",A1 F124 I1 R1
183981,42C,1,124,1,1,1.0,1308318,SNP,Gâ†’C,R110GÂ (CGTâ†’GGT),clsA,NC_000913,public,1 124 1 1,True,42C 1,"(1308318, 1308318)",{ECK120001556},"[{'name': 'clsA', 'RegulonDB ID': 'ECK12000155...",A1 F124 I1 R1
183979,42C,1,124,1,1,1.0,2173364,DEL,Î”1Â bp,intergenicÂ (â€‘2/+1),"gatC, gatC",NC_000913,public,1 124 1 1,False,42C 1,"(2173364, 2173364)",{ECK120002276},"[{'name': 'gatC', 'RegulonDB ID': 'ECK12000227...",A1 F124 I1 R1

In [8]:
import os, sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
from aledbmutil.md import METADATA_CATEGORIES_FOR_ASSOCIATIONS


pd.set_option('display.max_columns', None)


all_muts_df[METADATA_CATEGORIES_FOR_ASSOCIATIONS] = ''  # Initialization purposes


def _get_sample_md(mut):
    srs = pd.Series({k:'' for k in METADATA_CATEGORIES_FOR_ASSOCIATIONS})
    df = md_df[(md_df.sample_name==mut['afir']) & (md_df.experiment==mut['exp'])]
    if len(df) > 0:
        srs = df[METADATA_CATEGORIES_FOR_ASSOCIATIONS].iloc[0]
    return srs


all_muts_df[METADATA_CATEGORIES_FOR_ASSOCIATIONS] = all_muts_df.apply(_get_sample_md, axis=1)
all_muts_df

,exp,ale,flask,isolate,tech_rep,presence,Position,Mutation Type,Sequence Change,Details,mutation target annotation,Reference Seq,ALEdb source,sample,coding,exp ALE,range,gene RegulonDB ID,genetic features,afir,media_description,carbon_source,nitrogen_source,phosphorous_source,sulfur_source,calcium_source,supplement,temperature,strain,strain_details,taxonomy_id,tech_rep_description
23836,42C,1,124,1,1,1.0,702352,DEL,Î”21 bp,coding (380â€‘400/1149 nt),nagA,NC_000913,public,1 124 1 1,True,42C 1,"(702352, 702372)",{ECK120000625},"[{'name': 'nagA', 'RegulonDB ID': 'ECK12000062...",A1 F124 I1 R1,M9,glucose(4),NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),NaCl(0.5),42,511145.0,BOP27,,
183980,42C,1,124,1,1,1.0,702352,DEL,Î”21Â bp,codingÂ (380â€‘400/1149Â nt),nagA,NC_000913,public,1 124 1 1,True,42C 1,"(702352, 702372)",{ECK120000625},"[{'name': 'nagA', 'RegulonDB ID': 'ECK12000062...",A1 F124 I1 R1,M9,glucose(4),NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),NaCl(0.5),42,511145.0,BOP27,,
23837,42C,1,124,1,1,1.0,1308318,SNP,Gâ†’C,R110G (CGTâ†’GGT),clsA,NC_000913,public,1 124 1 1,True,42C 1,"(1308318, 1308318)",{ECK120001556},"[{'name': 'clsA', 'RegulonDB ID': 'ECK12000155...",A1 F124 I1 R1,M9,glucose(4),NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),NaCl(0.5),42,511145.0,BOP27,,
183981,42C,1,124,1,1,1.0,1308318,SNP,Gâ†’C,R110GÂ (CGTâ†’GGT),clsA,NC_000913,public,1 124 1 1,True,42C 1,"(1308318, 1308318)",{ECK120001556},"[{'name': 'clsA', 'RegulonDB ID': 'ECK12000155...",A1 F124 I1 R1,M9,glucose(4),NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),NaCl(0.5),42,511145.0,BOP27,,
183979,42C,1,124,1,1,1.0,2173364,DEL,Î”1Â bp,intergenicÂ (â€‘2/+1),"gatC, gatC",NC_000913,public,1 124 1 1,False,42C 1,"(2173364, 2173364)",{ECK120002276},"[{'name': 'gatC', 'RegulonDB ID': 'ECK12000227...",A1 F124 I1 R1,M9,glucose(4),NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),NaCl(0.5),42,511145.0,BOP27,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121642,tpiVCH,28,14,1,1,1.0,1544022,SUB,1 bpâ†’AA,coding (39/1389 nt),narU,NC_000913_3_vch_tpiA,public,28 14 1 1,True,tpiVCH 28,"(1544022, 1544022)",{ECK120002052},"[{'name': 'narU', 'RegulonDB ID': 'ECK12000205...",A28 F14 I1 R1,M9,glucose(4),NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),,37,511145.0,V. cholerae tpi E. coli K-12 MG1655,,
121644,tpiVCH,28,14,1,1,1.0,2214152,SNP,Aâ†’T,Y165N (TATâ†’AAT),yehU,NC_000913_3_vch_tpiA,public,28 14 1 1,True,tpiVCH 28,"(2214152, 2214152)",{ECK120001926},"[{'name': 'btsS', 'RegulonDB ID': 'ECK12000192...",A28 F14 I1 R1,M9,glucose(4),NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),,37,511145.0,V. cholerae tpi E. coli K-12 MG1655,,
121662,tpiVCH,28,25,1,1,1.0,3815825,SNP,Câ†’T,intergenic (â€‘57/+9),"pyrE, rph",NC_000913_3_vch_tpiA,public,28 25 1 1,False,tpiVCH 28,"(3815825, 3815825)",{},"[{'RegulonDB ID': 'ECK120000799/ECK120000854',...",A28 F25 I1 R1,M9,glucose(4),NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),,37,511145.0,V. cholerae tpi E. coli K-12 MG1655,,
121675,tpiVCH,28,66,1,1,1.0,4159190,SNP,Tâ†’A,L224Q (CTGâ†’CAG),oxyR,NC_000913_3_vch_tpiA,public,28 66 1 1,True,tpiVCH 28,"(4159190, 4159190)",{ECK120000674},"[{'name': 'oxyR', 'RegulonDB ID': 'ECK12000067...",A28 F66 I1 R1,M9,glucose(4),NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),,37,511145.0,V. cholerae tpi E. coli K-12 MG1655,,
121676,tpiVCH,28,66,1,1,1.0,4182833,SNP,Câ†’T,P520L (CCGâ†’CTG),rpoB,NC_000913_3_vch_tpiA,public,28 66 1 1,True,tpiVCH 28,"(4182833, 4182833)",{ECK120000885},"[{'name': 'rpoB', 'RegulonDB ID': 'ECK12000088...",A28 F66 I1 R1,M9,glucose(4),NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),,37,511145.0,V. cholerae tpi E. coli K-12 MG1655,,

In [9]:
all_muts_df = all_muts_df.reset_index(drop=True)

# The execution of get_ALE_max_freq_mut_df(get_endpoints_only=True) earlier in the pipeline should have already removed all duplicate mutations
# Commenting the old logic (above) out. To use only when using more than just endpoints. Annotated in NB1 for the need to uncomment this region is not using endpoints.
# This code is inappropriate anyways because you can have two different and unique mutations to the same gene though with different position, or same position though with different sequence changes.
# Important to note that associations are made on the resolution of genomic feature and not position, though two mutations with different detail though the same feature will be represented, as currently expected.
# The logic uncommented above is therefore incomplete for removing duplicates for sample sets that include midpoints and endpoints.

# The below is the necessary logic without this filtering.
exp_target_cond_df = all_muts_df.copy()
display(exp_target_cond_df.shape, exp_target_cond_df.head())

(7670, 32)

,exp,ale,flask,isolate,tech_rep,presence,Position,Mutation Type,Sequence Change,Details,mutation target annotation,Reference Seq,ALEdb source,sample,coding,exp ALE,range,gene RegulonDB ID,genetic features,afir,media_description,carbon_source,nitrogen_source,phosphorous_source,sulfur_source,calcium_source,supplement,temperature,strain,strain_details,taxonomy_id,tech_rep_description
0,42C,1,124,1,1,1.0,702352,DEL,Î”21 bp,coding (380â€‘400/1149 nt),nagA,NC_000913,public,1 124 1 1,True,42C 1,"(702352, 702372)",{ECK120000625},"[{'name': 'nagA', 'RegulonDB ID': 'ECK12000062...",A1 F124 I1 R1,M9,glucose(4),NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),NaCl(0.5),42,511145.0,BOP27,,
1,42C,1,124,1,1,1.0,702352,DEL,Î”21Â bp,codingÂ (380â€‘400/1149Â nt),nagA,NC_000913,public,1 124 1 1,True,42C 1,"(702352, 702372)",{ECK120000625},"[{'name': 'nagA', 'RegulonDB ID': 'ECK12000062...",A1 F124 I1 R1,M9,glucose(4),NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),NaCl(0.5),42,511145.0,BOP27,,
2,42C,1,124,1,1,1.0,1308318,SNP,Gâ†’C,R110G (CGTâ†’GGT),clsA,NC_000913,public,1 124 1 1,True,42C 1,"(1308318, 1308318)",{ECK120001556},"[{'name': 'clsA', 'RegulonDB ID': 'ECK12000155...",A1 F124 I1 R1,M9,glucose(4),NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),NaCl(0.5),42,511145.0,BOP27,,
3,42C,1,124,1,1,1.0,1308318,SNP,Gâ†’C,R110GÂ (CGTâ†’GGT),clsA,NC_000913,public,1 124 1 1,True,42C 1,"(1308318, 1308318)",{ECK120001556},"[{'name': 'clsA', 'RegulonDB ID': 'ECK12000155...",A1 F124 I1 R1,M9,glucose(4),NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),NaCl(0.5),42,511145.0,BOP27,,
4,42C,1,124,1,1,1.0,2173364,DEL,Î”1Â bp,intergenicÂ (â€‘2/+1),"gatC, gatC",NC_000913,public,1 124 1 1,False,42C 1,"(2173364, 2173364)",{ECK120002276},"[{'name': 'gatC', 'RegulonDB ID': 'ECK12000227...",A1 F124 I1 R1,M9,glucose(4),NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),NaCl(0.5),42,511145.0,BOP27,,

In [10]:
unique_condition_set = set()
for cond_cat in METADATA_CATEGORIES_FOR_ASSOCIATIONS:
    unique_condition_set |= set(exp_target_cond_df[cond_cat].unique())
unique_condition_set

{'',
 '(NH4)2SO4(2)',
 '(NH4)2SO4(2),MgSO4(.12)',
 '20uM FeSO4 and 10mM sodium citrate',
 37,
 38,
 42,
 511145.0,
 'B. melitensis pgi E. coli K-12 MG1655',
 'BOP1000',
 'BOP27',
 'BOP27 E. coli K-12 MG1655',
 'C13H10N2O(.168184)',
 'C6H5FeO7(0.00049),casamino(5)',
 'CGSC6300',
 'CaCl2(0.1)',
 'CaCl2(0.1mM)',
 'D-2-deoxyribose()',
 'D-arabinose()',
 'D-lyxose()',
 'E. coli K-12 MG1655',
 'E. coli K-12 MG1655 with all UAG stop codons replaced with UAA.',
 'E. coli K12 MG1655 Î”pgi',
 'E. coli K12 MG1655 Î”sdaA Î”sdaB Î”tdcG Î”glyA',
 'Escherichia coli MS56',
 'GLU ALE4 EP',
 'Glucose(4)',
 'Glucose(5)',
 'H. sapien pgi E. coli K-12 MG1655',
 'H. sapien tpi E. coli K-12 MG1655',
 'Illumina/ 150',
 'Illumina/ 50',
 'Illumina/ 600',
 'JCL260',
 'KH2PO4(13.6)',
 'KH2PO4(3),Na2HPO4(6.8)',
 'KH2PO4(3),Na2PO4(6.8)',
 'KH2PO4(3g/L),Na2HPO4(6.78g/L)',
 'KH2PO4(6),Na2HPO4(13.6)',
 'Kapa/ ',
 'LB',
 'M63',
 'M9',
 'MG1655',
 'MgSO4(0.24)',
 'MgSO4(1mM)',
 'MgSO4(24)',
 'NC_000913',
 'NH4Cl(1)',
 'NH4Cl(1g/L)',
 'NH4Cl(2)',
 'NaCl(0.5)',
 'NaCl(1g/L),trace elements(), NaCl(0.5)',
 'None',
 'P. aerophilum pgi E. coli K-12 MG1655',
 'P. aerophilum tpi E. coli K-12 MG1655',
 'Qiagen/ 600',
 'U-13C glucose(2)',
 'V. cholerae pgi E. coli K-12 MG1655',
 'V. cholerae tpi E. coli K-12 MG1655',
 'WT P. aeruginosa was first grown in the medium, and an increasing % of this spent" medium was mixed with fresh medium to grow the E. coli"',
 'glucose(2)',
 'glucose(2g/L)',
 'glucose(3)',
 'glucose(4)',
 'glucose(4g/L)',
 'glycerol(2.5)',
 'glycine(2mM),L-serine(), NaCl(0.5)',
 'initially supplemented with 0.1% LB medium reduced in a stepwise manner to eventually achieve supplement-free growth. ',
 'isobutanol(8g/L)',
 'm-tartrate()',
 'monomethyl_succinate()',
 'paraquat',
 'pvdJ KO P. aeruginosa was first grown in the medium, and an increasing % of this spent" medium was mixed with fresh medium to grow the E. coli"',
 'Î”gnd',
 'Î”pgi',
 'Î”pgi E. coli K-12 MG1655',
 'Î”pts',
 'Î”sdh',
 'Î”tpi',
 'Î”tpi E. coli K-12 MG1655'}

In [11]:
FEAT_ANNOT = "genetic features"

In [12]:
from tqdm import tqdm


feat_cond_df = pd.DataFrame()
for _, r in tqdm(exp_target_cond_df.iterrows(), total=exp_target_cond_df.shape[0]):                    
    for gen_feat_d in r[FEAT_ANNOT]:
        for cond_col in METADATA_CATEGORIES_FOR_ASSOCIATIONS:
            df = pd.DataFrame.from_dict([{"feature": gen_feat_d["name"], "condition": r[cond_col]}])
            feat_cond_df = pd.concat([feat_cond_df, df])
            

display(len(feat_cond_df), feat_cond_df.head())

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 7670/7670 [02:33<00:00, 49.85it/s]

123432

  feature               condition
0    nagA                      M9
0    nagA              glucose(4)
0    nagA                NH4Cl(1)
0    nagA  KH2PO4(3),Na2HPO4(6.8)
0    nagA             MgSO4(0.24)

In [13]:
from aledbmutil.params import ASSOC_ALPHA, MULTI_HYP_CORR_METHOD


from statsmodels.stats import multitest
import scipy.stats


def get_contingency_table(count_mat, row_name, col_name):
    row_col_count = count_mat.loc[row_name, col_name]
    row_not_col_sum_count = count_mat.loc[row_name].sum() - row_col_count
    not_row_col_sum_count = count_mat.T.loc[col_name].sum() - row_col_count
    all_mat_sum_count = count_mat.sum(axis=1).sum()
    not_row_not_col_sum_count = all_mat_sum_count - \
        row_col_count - row_not_col_sum_count - not_row_col_sum_count
    contingency_table = [
        [row_col_count, row_not_col_sum_count],
        [not_row_col_sum_count, not_row_not_col_sum_count]
    ]
    return contingency_table


test_df = pd.DataFrame([[1, 2, 3],
                        [4, 5, 6]],
                       index=["y1", "y2"],
                       columns=["x1", "x2", "x3"])
contingency_table = get_contingency_table(test_df, "y2", "x3")
expected_contingency_table = [[6, 9], [3, 3]]
assert(contingency_table == expected_contingency_table)


def get_multiple_hypothesis_correction(pval_df):
    # Dataframe seemed to be designed to iterate by column more easily than row (see df.iteritems())
    # Have to combine all p-value columns because multitest.multipletests only takes 1D array inputs.
    pval_l = []
    for col in list(pval_df.columns.values):
        pval_l += list(pval_df[col])
    corrected_pval_result = multitest.multipletests(
        pvals=pval_l,
        alpha=ASSOC_ALPHA,
        method=MULTI_HYP_CORR_METHOD)

    # The following splits the multitest.multipletests 1D array output into the same shape, though transposed.
    corrected_pval_l = corrected_pval_result[1]
    df_col_len = pval_df.shape[0]
    corrected_pval_mat = [corrected_pval_l[i:i+df_col_len]
                          for i in range(0, len(corrected_pval_l), df_col_len)]

    # building df with new p-values
    corrected_pval_df = pval_df.copy()
    for outer_l_idx in range(0, len(corrected_pval_df.columns)):
        for inner_l_idx in range(0, len(corrected_pval_df)):
            corrected_pval = corrected_pval_mat[outer_l_idx][inner_l_idx]
            corrected_pval_df.iloc[inner_l_idx, outer_l_idx] = corrected_pval
    return corrected_pval_df


# def get_enrich_genetic_target_df(cond_col, mut_df):
def get_enrich_genetic_target_df(feat_cond_df):
    # Creates tables of counts between each mutation and unique condition.
    cross_counts_df = pd.crosstab(
        feat_cond_df["feature"], feat_cond_df["condition"]
    )

    # To reuse the same DF indeces without having to remake it.
    enrich_odds_ratio_df = cross_counts_df.copy()
    enrich_pvals_df = cross_counts_df.copy()

    for cond in tqdm(cross_counts_df.columns.values):
        for mut_target in cross_counts_df.index:
            contingency_table = get_contingency_table(cross_counts_df, mut_target, cond)
            odds_ratio, p_val = scipy.stats.fisher_exact(contingency_table, alternative="greater")
            enrich_odds_ratio_df.loc[mut_target, cond] = odds_ratio
            enrich_pvals_df.loc[mut_target, cond] = p_val

    enriched_pvals_df = get_multiple_hypothesis_correction(enrich_pvals_df)

    return enrich_odds_ratio_df, enrich_pvals_df

In [14]:
enrich_odds_ratio_df, enrich_pvals_df = get_enrich_genetic_target_df(feat_cond_df)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 81/81 [03:46<00:00,  2.79s/it]

In [15]:
signif_genomic_feat_cond_json = []
mut_feat_cond_assoc_json = []
for (mut_serial, row) in enrich_pvals_df.iterrows():
    for cond in row.index:
        p_val = enrich_pvals_df.at[mut_serial, cond]
        odds_ratio = enrich_odds_ratio_df.at[mut_serial, cond]
        mut_feat_cond_assoc_json.append({"mutated features": mut_serial, "condition": cond, "odd ratio": odds_ratio, "p value":p_val})
        if odds_ratio > 1 and p_val < ASSOC_ALPHA:
            signif_genomic_feat_cond_json.append({"mutated features": mut_serial, "condition": cond, "odd ratio": odds_ratio, "p value":p_val})

In [16]:
assoc_df = pd.DataFrame(mut_feat_cond_assoc_json)
assoc_df = assoc_df.set_index("mutated features")
assoc_df.to_csv("./data/mut_gen_cond_assocs.csv")

In [17]:
import pickle
f = open("./data/signif_genetic_feat_cond_json.pkl", 'wb')
pickle.dump(signif_genomic_feat_cond_json, f)
f.close()

In [18]:
signf_assoc_feat_cond_d = {d["mutated features"]:set() for d in signif_genomic_feat_cond_json}
for d in signif_genomic_feat_cond_json:
    target = d["mutated features"]
    condition = d["condition"]
    if target in signf_assoc_feat_cond_d.keys():
        signf_assoc_feat_cond_d[target].add(condition)
    else:
        signf_assoc_feat_cond_d[target] = {condition}
# signf_assoc_feat_cond_d

In [19]:
def _get_feat_signf_assoc_cond_set(feat_d, mut_conds):
    feat_signf_assoc_cond_set = set()
    if feat_d["name"] in signf_assoc_feat_cond_d.keys():
        
        # Only includes conditions from exp mut comes from, therefore may be subset of signf assoc cond.
        for c in signf_assoc_feat_cond_d[feat_d["name"]]:
            if c in mut_conds:
                feat_signf_assoc_cond_set.add(c)
    
    return feat_signf_assoc_cond_set


def get_feat_signf_assoc_cond_set_json(mut_df_row, feat_annot_name):
    feat_json = []
    for d in mut_df_row[feat_annot_name]:
        feat_d = d.copy()
        mut_conds = list(mut_df_row[METADATA_CATEGORIES_FOR_ASSOCIATIONS])
        feat_d["significantly associated conditions"] = _get_feat_signf_assoc_cond_set(d, mut_conds)
        feat_json.append(feat_d)
    return feat_json


exp_target_cond_df[FEAT_ANNOT] = exp_target_cond_df.apply(lambda r: get_feat_signf_assoc_cond_set_json(r, FEAT_ANNOT), axis=1)

In [20]:
exp_target_cond_df.to_pickle("./out_assoc_gen_feats.pkl")
exp_target_cond_df.shape

(7670, 32)